$google: #4285f4;

.button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Open Sans Condensed";
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  min-width: 165px;
  padding: 0 35px 0 35px;
  text-transform: uppercase;
  width: auto;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

  &.google-signin {
    background: $google;

    &:hover {
      background: darken($google, 10%);
      border: none;
      color: #fff;
    }
  }

  &.inverted {
    background: #fff;
    color: #000;
    border: 1px solid #000;

    &:hover {
      background: #000;
      color: #fff;
      border: none;
    }
  }
}
